<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key ="SMTPuser" value="kkloan2@gmail.com"/>
    <add key="SMTPpassword" value="waduhcl$"/>
    <add key="Port" value="587"/>
    <add key="EmailPort" value="25"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSSL" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
    connectionString="Server=dcm.uhcl.edu;Database=	c432016fa02kasichainulak;uid=kasichainula;password=1456090"/>
  </connectionStrings>
  

</configuration>
